[Unit]
Description=Opinionated battery health manager
Wants=upower.service
Wants=power-profiles-daemon.service

[Service]
ExecStart=/usr/local/bin/battmand
Restart=on-failure

[Install]
WantedBy=multi-user.target
