[Desktop Entry]
Name=Charge to Full Now
Comment=Charge the battery to full now
TryExec=battman
Exec=battman-kde-helper
Icon=battery-full-charging-symbolic
Type=Application
Categories=System;Utility;
StartupNotify=false
Keywords=battery;charge;full;now;battman;batman;
